/*ESTILO PARA TABLETS*/
@media only screen and (min-width: 788px) and (max-width: 979px){
	
	/*qualidade*/
	.qualidade::after{
		right: 66px;
		z-index: -1;
	}

	.qualidade-lista li{
		padding: 0px 10px;
	}

	/*redes sociais*/

	.footer-redes ul li a{
		padding: 6px;
	}

	.footer-redes ul li a img{
		width: 26px;
		height: 26px;
	}
}

/*ESTILO PARA CELULARES*/
@media only screen and (max-width: 787px) {
	
	/*header*/
	.header{
		position: relative;
		padding-bottom: 0px;
	}

	.header img{
		margin: 0 auto 10px auto;
	}

	.header_menu{
		text-align: center;
	}

	.header_menu ul li{
		margin: 5px;
	}

	.header_menu ul li a{
		text-transform: uppercase;
		border: 4px solid black;
		width: 130px;
		display: block;
		float: left;
	}

	.header_menu ul li a:hover{
		border-color: white;
	}

	/*introdução*/

	.introducao{
		margin-top: 0;
		padding-top: 40px;
		background: url(../img/bg-mobile.jpg) no-repeat center;
		background-size: cover;
	}

	.introducao h1{
		font-size: 36px;
	}

	/*call to action*/

	.cta{
		padding: 10px;
	}

	.qualidade::after{
		display: none;
	}

}