@charset "UTF-8";   

/*Estilos gerais*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img{
    display: block;
}

.btn, .btn-preto{
    border: 3px solid #fec63e;
    padding: 10px 25px;
    color: #fec63e;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: .1em;
    transition: 400ms;
}

.btn:hover{
    border-color: white;
    color: white;
}

.btn-preto:hover{
    border-color: black;
    color: black;
}


.subtitulo{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 8px auto;
}

/*Header*/

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
    z-index: 10;
}

.header_menu{
    text-align: right;
}

.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 0;
    transition: 400ms;
}

.header_menu ul li a:hover{
    color: white;
}

/*Introdução*/

.introducao{
    width: 100%;
    height: 380px;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1{
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
}

.quote-externo{
    max-width: 320px;
    margin: 0 auto;
    color: white;
    font-style: italic;
    margin-bottom: 40px;
}

.quote-externo p::before, .quote-externo p::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 14px auto 12px auto;
}

.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .1em;
}

.produtos{
    padding: 60px 0;
}

.produtos_lista li{
    background: #fec63e;
    text-align: center;
}

.produtos_lista li h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}

.produtos_lista li h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000000;
    margin: 2px auto;
}

.produtos_lista li p{
    padding: 10px 20px 20px 20px;
}

.produtos-icone{
    background: black;
    padding: 20px;
}

.cta{
    text-align: center;
    padding: 40px;
    clear: both;
}

.cta p{
    margin-bottom: 20px;

}

/*PORTFOLIO*/

.portfolio{
    background: black;
    padding: 40px 0;
}

.portfolio .subtitulo{
    color: #fec63e;
}

.portfolio .subtitulo::after{
    background: #fec63e;
}

.portfolio .cta p{
    color: white;
}

.portfolio-lista li:last-child{
    margin-top: 20px;
}

/*QUALIDADE*/

.qualidade{
    padding: 60px 0;
}

.qualidade::after{
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    position: absolute;
    top: 209px;
    right: 162px;
    z-index: -1;
}

.qualidade img{
    margin: 0px auto;
}

.qualidade-lista{
    padding-top: 30px;
}

.qualidade-lista li{
    text-align: center;
    padding: 0px 40px;
}

.qualidade-lista li h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}

.qualidade-lista li h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000000;
    margin: 6px auto;
}